<!DOCTYPE html>
<html>
    
    <head>
        
        <title>mark sort</title>
        <a>Date:<%=date%></a>
        <h1>mark color sort</h1>
        <link rel='stylesheet' href='/stylesheets/stylecopy.css' />
        
    </head>
    <body class="mainpgid">
<div class ="sign">
    
        <form method='post' action='/home'>
            <label for="fname">First name:</label>
            <input name="user" value="admin" id = txt1/><br><br>
            <label for="lname">Last name:</label>
            <input name="pass" type = password value="admin" id = txt1/><br><br>
            <button class="login" type='submit'>Login</button>
        </form>
            <form method='post' action='/register'>
            <button class="signup" type='submit'>Sign Up</button>
            </form>
    <link rel='stylesheet' href='/stylesheets/stylecopy.css' />
</div>
    </body>
    <br>
    <br>
    
</html>