<!DOCTYPE html>
<html>
    
    <head>
        <a>Date:<%=date%></a>
        <title>mark sort</title>
        <link rel='stylesheet' href='/stylesheets/stylecopy.css' />
    </head>
    <body>
        <h1>mark color sort</h1>
    </body>

    <body class = "mainpgid">
        <div class="regpage">
        <form method='post' action='/savedata'>
            <label for="fname">User Name:</label>
            <input name="User_Name" value="username"/><br><br>
            <label for="fname">Password:</label>
            <input name="Password", type = password ,  value="password"/><br><br>
            <button type='submit'>Save</button>
       </form>
       <link rel='stylesheet' href='/stylesheets/stylecopy.css' />
    </div>
    </body>
</html>